<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container" style="position:relative; width:250px; height:220px; margin:0 auto 30px auto;">
        <canvas id="lienzo" width="250" height="220">Su navegador no soporta canvas :( </canvas>
        <div id="output" style="position:absolute; padding:5px;"></div>
    </div>
    <script src="../js/logicT.js"></script>
</body>
</html>